:root {
	font-weight: 400;
	font-size: 20px;
	line-height: 1.5;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #000
}

* {
	box-sizing: border-box
}

.page,
html {
	height: 100%
}

.page {
	margin: 0;
	font-size: 16px;
	line-height: 1.2;
	background-color: #fff
}

.page__container {
	min-height: 100%;
	overflow-x: hidden
}

.button {
	display: inline-block;
	vertical-align: middle;
	padding: 14px 15px 16px;
	margin: 0;
	border-radius: 3px;
	font-size: 34px;
	font-family: inherit;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: #fff;
	background-color: #ff8700;
	box-shadow: inset 0 1px 5px -2px transparent;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;
	transition-property: box-shadow;
	transition-duration: .25s;
	transition-timing-function: ease
}

@media (min-width:768px) {
	.button {
		font-size: 24px
	}
}

.button:hover {
	box-shadow: inset 0 1px 5px -2px #000
}

.button:active {
	box-shadow: inset 0 1px 10px -2px #000
}

.burger {
	position: relative;
	width: 40px;
	height: 34px;
	padding: 0;
	border: 1px solid #000;
	border-radius: 4px;
	background-color: transparent;
	outline: none;
	cursor: pointer
}

@media (min-width:768px) {
	.burger {
		display: none
	}
}

.burger__lines {
	position: absolute;
	top: calc(50% - 1px);
	left: calc(50% - 12px);
	width: 24px;
	height: 2px;
	background-color: #000;
	border-radius: 1px
}

.burger__lines:after,
.burger__lines:before {
	content: "";
	position: absolute;
	left: 0;
	width: inherit;
	height: inherit;
	background-color: #000;
	border-radius: inherit;
	transition-property: transform;
	transition-timing-function: ease;
	transition-duration: .25s
}

.burger__lines:before {
	top: -6px
}

.burger__lines:after {
	top: 6px
}

.burger.is-active .burger__lines {
	background-color: transparent
}

.burger.is-active .burger__lines:after,
.burger.is-active .burger__lines:before {
	top: 0
}

.burger.is-active .burger__lines:before {
	transform: rotate(45deg)
}

.burger.is-active .burger__lines:after {
	transform: rotate(-45deg)
}

.header {
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #fff
}

.header__burger {
	position: absolute;
	top: 20px;
	left: 15px
}

.nav {
	display: none
}

@media (min-width:768px) {
	.nav {
		display: block;
		padding-top: 6px;
		padding-bottom: 7px;
		color: #fff;
		background-color: #000
	}
}

.block.block--fixed-steps {
	width: 100%;
	max-width: 480px;
	margin-right: auto;
	margin-left: auto
}

@media (min-width:567px) {
	.block.block--fixed-steps {
		max-width: 540px
	}
}

@media (min-width:768px) {
	.block.block--fixed-steps {
		max-width: 720px
	}
}

@media (min-width:992px) {
	.block.block--fixed-steps {
		max-width: 960px
	}
}

.grid__row--forever .area--2 {
	width: 16.66667%
}

.grid__row--forever .area--3 {
	width: 25%
}

.grid__row--forever .area--4 {
	width: 33.33333%
}

.grid__row--forever .area--5 {
	width: 41.66667%
}

.grid__row--forever .area--6 {
	width: 50%
}

.grid__row--forever .area--7 {
	width: 58.33333%
}

.grid__row--forever .area--12 {
	width: 100%
}

@media (min-width:768px) {
	.area--12 {
		width: 100%
	}
	.area--7 {
		width: 58.33333%
	}
	.area--6 {
		width: 50%
	}
	.area--5 {
		width: 41.66667%
	}
	.area--4 {
		width: 33.33333%
	}
	.area--3 {
		width: 25%
	}
	.area--2 {
		width: 16.66667%
	}
}

.align--center {
	text-align: center
}

.widget-text {
	font-size: 14px
}

@media (min-width:768px) {
	.widget-text {
		font-size: 16px
	}
}

@media (min-width:992px) {
	.widget-text {
		font-size: 18px
	}
}

.widget-text p {
	margin-top: 0;
	margin-bottom: 0
}

.widget-image {
	margin: 0
}

.widget-image__picture {
	display: block;
	width: 100%;
	max-width: 100%;
	height: auto
}

.widget-image--cover {
	height: 100%
}

.widget-image--cover .widget-image__picture {
	width: 100%;
	height: 100%;
	max-width: none;
	-o-object-fit: cover;
	object-fit: cover
}

.widget-video__container {
	position: relative;
	padding-top: 55%
}

.widget-video__frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.widget-list {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style-type: none;
	font-size: 18px
}

.widget-nav {
	color: inherit
}

.widget-nav__list {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style-type: none;
	text-align: center
}

@media (min-width:768px) {
	.widget-nav__list {
		display: flex;
		justify-content: center
	}
}

.widget-nav__item {
	margin-bottom: 15px
}

@media (min-width:768px) {
	.widget-nav__item {
		padding-right: 15px;
		padding-left: 15px;
		margin-bottom: 0
	}
	.footer .widget-nav__item {
		border-right-style: solid;
		border-right-width: .06em
	}
}

.widget-nav__item:last-child {
	margin-bottom: 0
}

@media (min-width:768px) {
	.footer .widget-nav__item:last-child {
		border-right-width: 0
	}
}

.widget-nav__link {
	color: inherit;
	text-decoration: none
}

.widget-control__label {
	display: block
}

.widget-control__body {
	margin-top: 4px
}

.widget-control__field {
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: 30px;
	border: 1px solid #a9a9a9;
	border-radius: 3px
}

input.widget-control__field {
	padding-right: 4px;
	padding-left: 4px
}

.widget-control--line {
	display: flex
}

.widget-control--line .widget-control__label {
	box-sizing: border-box;
	width: 30%;
	padding-top: 5px;
	padding-right: 10px;
	flex-shrink: 0
}

.widget-control--line .widget-control__body {
	margin-top: 0;
	flex-grow: 1
}

.grid__row {
	display: flex;
	flex-direction: column
}

@media (min-width:768px) {
	.grid__row {
		flex-direction: row;
		flex-wrap: wrap
	}
}

.grid__row--forever {
	flex-direction: row;
	flex-wrap: nowrap
}

.grid__column {
	display: flex
}

.grid__cell {
	box-sizing: border-box;
	width: 100%
}

.section {
	position: relative;
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: cover
}

.footer {
	padding-top: 25px;
	padding-bottom: 30px
}

.conjure-lazy-image {
	min-height: 1px
}

.widget-list p {
	display: inline
}

#id82866-0 {
	margin: 0;
	padding: 0;
	overflow: hidden
}

#id82866-2,
#id82866-6 {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	overflow: hidden
}

#id82866-6 {
	background-color: #fff;
	font-size: inherit;
	font-family: Open Sans, sans-serif;
	font-weight: inherit
}

#id82866-8,
#id82866-13 {
	padding: 0;
	overflow: hidden
}

#id82866-8 {
	margin: 0
}

#id82866-10,
#id82866-1408 {
	padding: 0;
	overflow: hidden
}

#id82866-10 {
	margin: 0
}

#id82866-2425 {
	padding: 0;
	overflow: hidden
}

#id82866-2425 .widget-text {
	color: #212122;
	text-transform: uppercase
}

#id82866-12 {
	margin: 0;
	padding: 0;
	overflow: hidden
}

#id82866-27 {
	background-color: #f57d2b;
	overflow: hidden;
	text-transform: inherit
}

#id82866-2471 {
	margin: 0 15px 10px;
	padding: 0;
	overflow: hidden
}

#id82866-2471 .widget-text {
	font-size: 14px;
	font-family: Open Sans Condensed, sans-serif;
	text-align: center;
	line-height: inherit;
	font-weight: inherit;
	font-style: inherit;
	color: #5c5d5f;
	text-transform: inherit
}

#id82866-2254,
#id82866-2255 {
	margin: 0;
	padding: 0;
	overflow: hidden
}

#id82866-2450 {
	padding: 0 15px;
	overflow: hidden
}

#id82866-2423,
#id82866-2424 {
	margin: 0;
	padding: 0;
	overflow: hidden
}

#id82866-721 {
	padding: 0;
	overflow: hidden
}

#id82866-721 .widget-text {
	color: #5c5d5f;
	text-transform: uppercase
}

#id82866-3,
#id82866-596 {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	overflow: hidden
}

#id82866-596 {
	font-size: inherit;
	font-family: Open Sans, sans-serif;
	font-weight: inherit
}

#id82866-599 {
	margin: 0;
	padding: 0;
	overflow: hidden
}

#id82866-598 {
	background-color: #54a341
}

#id82866-598,
#id82866-4479 {
	padding: 0;
	overflow: hidden
}

#id82866-4479 .widget-text {
	color: #5c5d5f;
	text-transform: inherit
}

#id82866-2217 {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	background-color: #fff;
	overflow: hidden;
	font-size: inherit;
	font-family: Montserrat, sans-serif;
	font-weight: inherit
}

#id82866-2228,
#id82866-2231 {
	margin: 0;
	padding: 0;
	overflow: hidden
}

#id82866-2359 {
	padding: 5px 15px;
	overflow: hidden
}

#id82866-3742 {
	margin: -5px 0 0 26%;
	padding: 0;
	overflow: hidden
}

#id82866-3742 .popup {
	position: relative;
	display: inline-block;
	cursor: pointer
}

#id82866-3742 .popup .popuptext {
	visibility: hidden;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: fixed;
	z-index: 1000;
	margin-left: -80px;
	top: 300px;
	left: 40%
}

#id82866-3742 .popup .cross {
	position: absolute;
	right: 0;
	top: 0;
	width: 60px;
	height: 60px
}

#id82866-3742 .popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s
}

#id82866-2230 {
	margin: 0;
	padding: 0;
	overflow: hidden
}

#id82866-2481 {
	padding: 5px 0;
	overflow: hidden
}

#id82866-2481 .widget-text {
	color: #5c5d5f;
	text-transform: inherit
}

#id82866-3781 {
	padding: 0;
	overflow: hidden
}

#id82866-2388,
#id82866-3781 .widget-text {
	color: #5c5d5f;
	text-transform: inherit
}

#id82866-2388 {
	padding: 0 0 5px;
	overflow: hidden
}

#id82866-2388 li {
	background: url(../images/d6097e6f51b04f89a55db01a733b1c1b_1.jpg) no-repeat 0;
	list-style-type: none;
	background-size: 16px 14px;
	padding-left: 31px;
	background-position-x: 5px;
	background-position-y: center
}

#id82866-2412 {
	background-color: #f57d2b;
	overflow: hidden;
	text-transform: inherit
}

#id82866-2476 {
	padding: 0;
	overflow: hidden
}

#id82866-2476 .widget-text {
	color: #5c5d5f;
	text-transform: inherit
}

#id82866-168 {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	overflow: hidden;
	font-size: inherit;
	font-family: Montserrat, sans-serif;
	font-weight: inherit
}

#id82866-185,
#id82866-186 {
	margin: 0;
	padding: 0;
	overflow: hidden
}

#id82866-208 {
	margin: 0 0 20px;
	padding: 0;
	overflow: hidden
}

#id82866-243 {
	margin: 0 10px 20px
}

#id82866-243,
#id82866-2337 {
	padding: 0;
	overflow: hidden
}

#id82866-2224,
#id82866-2337 .widget-text {
	color: #5c5d5f;
	text-transform: inherit
}

#id82866-2224 {
	padding: 0;
	overflow: hidden
}

#id82866-2224 li {
	background: url(../images/d6097e6f51b04f89a55db01a733b1c1b_1.jpg) no-repeat 0;
	list-style-type: none;
	background-size: 16px 14px;
	padding-left: 31px;
	background-position-x: 5px;
	background-position-y: center
}

#id82866-2781 {
	background-color: #f57d2b;
	overflow: hidden;
	text-transform: inherit
}

#id82866-278 {
	margin: 0;
	padding: 0;
	overflow: hidden
}

#id82866-1788 {
	margin: 20px 0 0;
	padding: 0;
	border: 0 solid #fff;
	overflow: hidden
}

#id82866-4251 {
	margin: 5px 15px 15px;
	padding: 5px 0;
	overflow: hidden
}

#id82866-4251 .widget-text {
	font-size: 10px;
	text-align: center;
	line-height: inherit;
	font-weight: inherit;
	font-style: inherit;
	text-transform: inherit
}

#id82866-2572 {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	overflow: hidden;
	font-size: inherit;
	font-family: Open Sans, sans-serif;
	font-weight: inherit
}

#id82866-2602 {
	margin: 0;
	padding: 0;
	overflow: hidden
}

#id82866-2601 {
	margin: 0 10px;
	padding: 0;
	overflow: hidden
}

#id82866-3265 {
	overflow: hidden;
	position: relative
}

#id82866-3265 .controls {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	pointer-events: none;
	align-items: center
}

#id82866-3265 .controls .middle {
	flex-grow: 2
}

#id82866-3265 .controls .left,
.controls .right {
	margin: 15px;
	pointer-events: auto;
	cursor: pointer
}

#id82866-3265 .arrow {
	border: solid;
	border-color: #fff;
	border-width: 0 6px 6px 0;
	display: inline-block;
	padding: 6px
}

#id82866-3265 .left .arrow {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	box-shadow: 1px 1px #c1c1c1
}

#id82866-3265 .right .arrow {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	box-shadow: 1px 1px #c1c1c1
}

#id82866-3265 .slider {
	width: 1000000px;
	transition: all 3s ease-in-out
}

#id82866-3265 a.slide {
	display: inline-block;
	vertical-align: top;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0)
}

#id82866-3265 .notransition {
	transition: none!important
}

#id82866-3156 {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	overflow: hidden;
	font-size: inherit;
	font-family: Montserrat, sans-serif;
	font-weight: inherit
}

#id82866-3169,
#id82866-3170 {
	margin: 0;
	padding: 0;
	overflow: hidden
}

#id82866-3266 {
	padding: 0;
	overflow: hidden
}

#id82866-3266 .widget-text {
	color: #5c5d5f;
	text-transform: inherit
}

#id82866-3136 {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	background-color: #fff;
	overflow: hidden;
	font-size: inherit;
	font-family: Montserrat, sans-serif;
	font-weight: inherit
}

#id82866-2767,
#id82866-2768,
#id82866-3625,
#id82866-3626,
#id82866-3633,
#id82866-3634 {
	margin: 0;
	padding: 0;
	overflow: hidden
}

#id82866-2749 {
	margin: 0 0 20px;
	padding: 0;
	overflow: hidden
}

#id82866-2736 {
	margin: 0 10px 20px;
	padding: 0;
	overflow: hidden
}

#id82866-2984 {
	padding: 0;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	border-bottom-left-radius: 100px;
	overflow: hidden
}

#id82866-2898 {
	margin: 20px 0 5px;
	padding: 0;
	overflow: hidden
}

#id82866-2898 .widget-text {
	font-size: 18px;
	text-align: center;
	line-height: inherit;
	font-weight: 700;
	font-style: inherit;
	color: #5c5d5f;
	text-transform: inherit
}

#id82866-2739 {
	margin: 0 0 15px;
	padding: 0;
	overflow: hidden
}

#id82866-2739 .widget-text {
	font-size: 16px;
	text-align: center;
	line-height: inherit;
	font-weight: inherit;
	font-style: inherit;
	color: #5c5d5f;
	text-transform: inherit
}

#id82866-2740 {
	margin: 0 10px 20px;
	padding: 0;
	overflow: hidden
}

#id82866-3024 {
	padding: 0;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	border-bottom-left-radius: 100px;
	overflow: hidden
}

#id82866-4883 {
	margin: 20px 0 5px;
	padding: 0;
	overflow: hidden
}

#id82866-4883 .widget-text {
	font-size: 18px;
	text-align: center;
	line-height: inherit;
	font-weight: 700;
	font-style: inherit;
	color: #5c5d5f;
	text-transform: inherit
}

#id82866-2743 {
	margin: 0 0 15px;
	padding: 0;
	overflow: hidden
}

#id82866-2743 .widget-text {
	font-size: 16px;
	text-align: center;
	line-height: inherit;
	font-weight: inherit;
	font-style: inherit;
	color: #5c5d5f;
	text-transform: inherit
}

#id82866-2744 {
	margin: 0 10px 20px;
	padding: 0;
	overflow: hidden
}

#id82866-3020 {
	padding: 0;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	border-bottom-left-radius: 100px;
	overflow: hidden
}

#id82866-2892 {
	margin: 20px 0 5px;
	padding: 0;
	overflow: hidden
}

#id82866-2892 .widget-text {
	font-size: 18px;
	text-align: center;
	line-height: inherit;
	font-weight: 700;
	font-style: inherit;
	color: #5c5d5f;
	text-transform: inherit
}

#id82866-2735 {
	margin: 0 0 15px;
	padding: 0;
	overflow: hidden
}

#id82866-2735 .widget-text {
	font-size: 16px;
	text-align: center;
	line-height: inherit;
	font-weight: inherit;
	font-style: inherit;
	color: #5c5d5f;
	text-transform: inherit
}

#id82866-2748 {
	margin: 0 10px 20px;
	padding: 0;
	overflow: hidden
}

#id82866-3016 {
	padding: 0;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	border-bottom-left-radius: 100px;
	overflow: hidden
}

#id82866-2906 {
	margin: 20px 0 5px;
	padding: 0;
	overflow: hidden
}

#id82866-2906 .widget-text {
	font-size: 18px;
	text-align: center;
	line-height: inherit;
	font-weight: 700;
	font-style: inherit;
	color: #5c5d5f;
	text-transform: inherit
}

#id82866-2866 {
	margin: 0 0 15px;
	padding: 0;
	overflow: hidden
}

#id82866-2866 .widget-text {
	font-size: 16px;
	text-align: center;
	line-height: inherit;
	font-weight: inherit;
	font-style: inherit;
	color: #5c5d5f;
	text-transform: inherit
}

#id82866-2863 {
	margin: 0 10px 20px;
	padding: 0;
	overflow: hidden
}

#id82866-3012 {
	padding: 0;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	border-bottom-left-radius: 100px;
	overflow: hidden
}

#id82866-2902 {
	margin: 20px 0 5px;
	padding: 0;
	overflow: hidden
}

#id82866-2902 .widget-text {
	font-size: 18px;
	text-align: center;
	line-height: inherit;
	font-weight: 700;
	font-style: inherit;
	color: #5c5d5f;
	text-transform: inherit
}

#id82866-2747 {
	margin: 0 0 15px;
	padding: 0;
	overflow: hidden
}

#id82866-2747 .widget-text {
	font-size: 16px;
	text-align: center;
	line-height: inherit;
	font-weight: inherit;
	font-style: inherit;
	color: #5c5d5f;
	text-transform: inherit
}

#id82866-2859 {
	margin: 0 10px 20px;
	padding: 0;
	overflow: hidden
}

#id82866-3008 {
	padding: 0;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	border-bottom-left-radius: 100px;
	overflow: hidden
}

#id82866-2734 {
	margin: 20px 0 5px;
	padding: 0;
	overflow: hidden
}

#id82866-2734 .widget-text {
	font-size: 18px;
	text-align: center;
	line-height: inherit;
	font-weight: 700;
	font-style: inherit;
	color: #5c5d5f;
	text-transform: inherit
}

#id82866-2862 {
	margin: 0 0 15px;
	padding: 0;
	overflow: hidden
}

#id82866-2862 .widget-text {
	font-size: 16px;
	text-align: center;
	line-height: inherit;
	font-weight: inherit;
	font-style: inherit;
	color: #5c5d5f;
	text-transform: inherit
}

#id82866-4711,
#id82866-4713,
#id82866-4715 {
	margin: 0;
	padding: 0;
	overflow: hidden
}

#id82866-4712 {
	background-color: #f57d2b;
	overflow: hidden;
	text-transform: inherit
}

#id82866-4714 {
	margin: 0;
	padding: 0;
	overflow: hidden
}

#id82866-3714 {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	background-color: #54a341;
	overflow: hidden;
	font-size: inherit;
	font-family: Montserrat, sans-serif;
	font-weight: inherit
}

#id82866-3717,
#id82866-3718,
#id82866-3719,
#id82866-3720 {
	margin: 0;
	padding: 0;
	overflow: hidden
}

#id82866-3715 {
	padding: 0;
	overflow: hidden
}

#id82866-3715 .widget-text {
	color: #fff;
	text-transform: inherit
}

#id82866-3716 {
	padding: 0;
	overflow: hidden
}

#id82866-3716 .widget-text {
	color: #fff;
	text-transform: inherit
}

#id82866-3941 {
	margin-top: 35px;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	overflow: hidden;
	font-size: inherit;
	font-family: Open Sans, sans-serif;
	font-weight: inherit
}

#id82866-4016 {
	margin: 0;
	padding: 0;
	overflow: hidden
}

#id82866-3993 {
	margin: 0 20px 50px;
	padding: 0;
	border: 0 solid #000;
	overflow: hidden
}

#id82866-3971 {
	margin: 0 15px;
	padding: 0;
	overflow: hidden
}

#id82866-3971 .widget-text {
	font-size: 18px;
	font-family: Montserrat, sans-serif;
	text-align: center;
	line-height: 30px;
	font-weight: 400;
	font-style: inherit;
	color: #000;
	text-transform: uppercase
}

#id82866-4286,
#id82866-4292,
#id82866-4484 {
	margin: 0;
	padding: 0;
	overflow: hidden
}

#id82866-3992 {
	margin: 15px 25px 5px;
	font-size: inherit;
	font-weight: inherit
}

#id82866-3988,
#id82866-3992 {
	padding: 0;
	overflow: hidden;
	text-transform: inherit
}

#id82866-3988 {
	margin: 5px 15px 0;
	font-size: 16px;
	text-align: center
}

#id82866-3986,
#id82866-3988 {
	line-height: inherit;
	font-weight: 700;
	font-style: inherit
}

#id82866-3986 {
	margin: 25px 25px 15px;
	padding: 10px 20px;
	background-color: #f57d2b;
	overflow: hidden;
	font-size: inherit;
	font-family: Open Sans Condensed, sans-serif;
	text-align: inherit;
	text-transform: inherit
}

#id82866-4015 {
	margin: 0 20px 50px;
	padding: 0;
	border: 0 solid #000;
	overflow: hidden
}

#id82866-3997 {
	margin: 0 15px;
	padding: 0;
	overflow: hidden
}

#id82866-3997 .widget-text {
	font-size: 18px;
	font-family: Montserrat, sans-serif;
	text-align: center;
	line-height: 30px;
	font-weight: 400;
	font-style: inherit;
	color: #000;
	text-transform: uppercase
}

#id82866-4216 {
	background-color: #ffd60a
}

#id82866-4216,
#id82866-4219,
#id82866-4302,
#id82866-4308,
#id82866-4485 {
	margin: 0;
	padding: 0;
	overflow: hidden
}

#id82866-4014 {
	margin: 15px 25px 5px;
	font-size: inherit;
	font-weight: inherit
}

#id82866-4010,
#id82866-4014 {
	padding: 0;
	overflow: hidden;
	text-transform: inherit
}

#id82866-4010 {
	margin: 5px 15px 0;
	font-size: 16px;
	text-align: center
}

#id82866-4008,
#id82866-4010 {
	line-height: inherit;
	font-weight: 700;
	font-style: inherit
}

#id82866-4008 {
	padding: 10px 20px;
	background-color: #f57d2b;
	overflow: hidden;
	font-size: inherit;
	font-family: Open Sans Condensed, sans-serif;
	text-align: inherit;
	text-transform: inherit
}

#id82866-4165 {
	margin: 0 20px 50px;
	padding: 0;
	border: 0 solid #000;
	overflow: hidden
}

#id82866-4168 {
	margin: 0 15px;
	padding: 0;
	overflow: hidden
}

#id82866-4168 .widget-text {
	font-size: 18px;
	font-family: Montserrat, sans-serif;
	text-align: center;
	line-height: 30px;
	font-weight: 400;
	font-style: inherit;
	color: #000;
	text-transform: uppercase
}

#id82866-3983,
#id82866-4233,
#id82866-4236 {
	margin: 0;
	padding: 0;
	overflow: hidden
}

#id82866-3983 {
	background-color: #ffd60a
}

#id82866-3979,
#id82866-4486 {
	margin: 0;
	padding: 0;
	overflow: hidden
}

#id82866-4188 {
	margin: 15px 25px 5px;
	font-size: inherit;
	font-weight: inherit
}

#id82866-4184,
#id82866-4188 {
	padding: 0;
	overflow: hidden;
	text-transform: inherit
}

#id82866-4184 {
	margin: 5px 15px 0;
	font-size: 16px;
	text-align: center
}

#id82866-4182,
#id82866-4184 {
	line-height: inherit;
	font-weight: 700;
	font-style: inherit
}

#id82866-4182 {
	padding: 10px 20px;
	background-color: #f57d2b;
	font-family: Open Sans Condensed, sans-serif;
	text-align: inherit;
	text-transform: inherit
}

#id82866-492,
#id82866-4182 {
	overflow: hidden;
	font-size: inherit
}

#id82866-492 {
	margin-top: 45px;
	margin-bottom: 45px;
	padding-top: 25px;
	padding-bottom: 25px;
	font-family: Open Sans, sans-serif;
	font-weight: inherit
}

#id82866-494,
#id82866-495,
#id82866-3555,
#id82866-3556 {
	margin: 0;
	padding: 0;
	overflow: hidden
}

#id82866-3558 {
	margin: 15px 15px 0;
	padding: 0;
	overflow: hidden
}

#id82866-3558 .widget-text {
	font-size: 20px;
	font-family: Open Sans, sans-serif;
	text-align: center;
	line-height: inherit;
	font-weight: inherit;
	font-style: inherit;
	color: #a1ca5c;
	text-transform: inherit
}

#id82866-3559 {
	margin: 5px 15px 15px;
	padding: 0;
	overflow: hidden
}

#id82866-3559 .widget-text {
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	font-weight: inherit;
	font-style: inherit;
	color: #5c5d5f;
	text-transform: inherit
}

#id82866-3560,
#id82866-3565 {
	margin: 0;
	padding: 0;
	overflow: hidden
}

#id82866-3563 {
	margin: 15px 15px 0;
	padding: 0;
	overflow: hidden
}

#id82866-3563 .widget-text {
	font-size: 20px;
	font-family: Open Sans, sans-serif;
	text-align: center;
	line-height: inherit;
	font-weight: inherit;
	font-style: inherit;
	color: #a1ca5c;
	text-transform: inherit
}

#id82866-3564 {
	margin: 5px 15px 15px;
	padding: 0;
	overflow: hidden
}

#id82866-3564 .widget-text {
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	font-weight: inherit;
	font-style: inherit;
	color: #5c5d5f;
	text-transform: inherit
}

#id82866-4273,
#id82866-4274 {
	margin: 0;
	padding: 0;
	overflow: hidden
}

#id82866-4275 {
	margin: 5px 15px 15px;
	padding: 0;
	overflow: hidden
}

#id82866-4275 .widget-text {
	font-size: 12px;
	text-align: center;
	line-height: 24px;
	font-weight: inherit;
	font-style: inherit;
	color: #5c5d5f;
	text-transform: inherit
}

#id82866-4,
#id82866-1514 {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	overflow: hidden
}

#id82866-1514 {
	background-color: #a1ca5c;
	font-size: inherit;
	font-family: Montserrat, sans-serif;
	font-weight: inherit
}

#id82866-1534 {
	margin: 0;
	padding: 0;
	overflow: hidden
}

#id82866-1533 {
	margin: 0 20px;
	padding: 0;
	overflow: hidden
}

#id82866-1515 .widget-nav {
	margin: 45px 0 5px;
	padding: 0;
	overflow: hidden;
	font-size: 14px;
	text-align: center;
	line-height: inherit;
	font-weight: inherit;
	font-style: inherit;
	color: #fff;
	text-transform: uppercase
}

#id82866-1515 ul {
	display: flex;
	flex-wrap: wrap
}

#id82866-1515 li {
	margin-bottom: 10px;
	border-right-style: solid;
	border-right-width: .06em;
	padding-left: 15px;
	padding-right: 15px
}

#id82866-1515 li:last-child {
	border-right-width: 0
}

#id82866-1515 .widget-nav__list {
	justify-content: center
}

#id82866-1515 a {
	color: #fff!important
}

#id82866-1536 {
	margin: 5px 5px 20px;
	padding: 10px 0;
	overflow: hidden
}

#id82866-1536 .widget-text {
	font-size: 12px;
	text-align: center;
	line-height: 160%;
	font-weight: inherit;
	font-style: inherit;
	color: #fff;
	text-transform: inherit
}

#id82866-1531 {
	margin: 0 0 50px;
	padding: 0;
	overflow: hidden
}

#id82866-1516,
#id82866-1530 {
	margin: 0;
	padding: 0;
	overflow: hidden
}

@media (max-width:567px) {
	#id82866-13 {
		margin: 0 0 0 55px
	}
	#id82866-1408 {
		margin: 40px 0 0;
		display: none!important
	}
	#id82866-2425 {
		margin: 15px 5px 0;
		display: none!important
	}
	#id82866-2425 .widget-text {
		font-size: 14px;
		text-align: center;
		line-height: 14px;
		font-weight: 300;
		font-style: inherit
	}
	#id82866-27 {
		margin: 30px 0 10px;
		padding: 10px;
		font-size: 13px;
		text-align: inherit;
		line-height: inherit;
		font-weight: 700;
		font-style: inherit
	}
	#id82866-27,
	#id82866-2471 {
		display: none!important
	}
	#id82866-2450 {
		margin: 5px 50px 0
	}
	#id82866-721 {
		margin: 10px 5px
	}
	#id82866-721 .widget-text {
		font-size: 12px;
		text-align: center;
		line-height: 17px;
		font-weight: 700;
		font-style: inherit
	}
	#id82866-598 {
		margin: 5px 0 0
	}
	#id82866-4479 {
		margin: 15px 5px
	}
	#id82866-4479 .widget-text {
		font-size: 14px;
		text-align: center;
		line-height: 14px;
		font-weight: 300;
		font-style: inherit
	}
	#id82866-2359 {
		margin: 5px 35px 0
	}
	#id82866-3742 .popup .popuptext {
		bottom: 0;
		left: 40%;
		top: unset
	}
	#id82866-2481 {
		margin: 15px
	}
	#id82866-2481 .widget-text {
		font-size: 28px;
		font-family: Open Sans, sans-serif;
		text-align: center;
		line-height: 34px;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-3781 {
		margin: 5px 15px
	}
	#id82866-3781 .widget-text {
		font-size: 18px;
		font-family: Open Sans, sans-serif;
		text-align: center;
		line-height: 34px;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-2388 {
		margin: 0 0 15px 15px;
		font-size: 17px;
		font-family: Open Sans Condensed, sans-serif;
		line-height: 30px;
		font-weight: inherit
	}
	#id82866-2388,
	#id82866-2412 {
		text-align: inherit;
		font-style: inherit
	}
	#id82866-2412 {
		margin: 0 10px;
		padding: 15px 10px;
		font-size: 18px;
		font-family: Open Sans, sans-serif;
		line-height: inherit;
		font-weight: 700
	}
	#id82866-2476 {
		margin: 10px 15px 25px 18px
	}
	#id82866-2476 .widget-text {
		font-size: 12px;
		text-align: center;
		line-height: inherit;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-2337 {
		margin: 20px 5px 15px
	}
	#id82866-2337 .widget-text {
		font-size: 24px;
		font-family: Montserrat, sans-serif;
		text-align: center;
		line-height: 30px;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-2224 {
		margin: 0 0 15px 15px;
		font-size: 16px;
		font-family: Open Sans Condensed, sans-serif;
		line-height: 26px;
		font-weight: inherit
	}
	#id82866-2224,
	#id82866-2781 {
		text-align: inherit;
		font-style: inherit
	}
	#id82866-2781 {
		margin: 0 5px;
		padding: 15px 10px;
		font-size: 18px;
		font-family: Open Sans, sans-serif;
		line-height: inherit;
		font-weight: 700
	}
	#id82866-3265 {
		margin: 5px 0;
		padding: 0;
		display: none!important
	}
	#id82866-3266 {
		margin: 15px
	}
	#id82866-3266 .widget-text {
		font-size: 28px;
		font-family: Open Sans, sans-serif;
		text-align: center;
		line-height: 34px;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-2984,
	#id82866-3008,
	#id82866-3012,
	#id82866-3016,
	#id82866-3020,
	#id82866-3024 {
		margin: 0 100px
	}
	#id82866-4712 {
		margin: 2px 5px 20px;
		padding: 15px 10px;
		font-size: 18px;
		text-align: inherit;
		line-height: inherit;
		font-weight: 700;
		font-style: inherit
	}
	#id82866-3715 {
		margin: 15px
	}
	#id82866-3715 .widget-text {
		font-size: 28px;
		font-family: Open Sans, sans-serif;
		text-align: center;
		line-height: 34px;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-3716 {
		margin: 15px
	}
	#id82866-3716 .widget-text {
		font-size: 28px;
		font-family: Open Sans, sans-serif;
		text-align: center;
		line-height: 34px;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-4008,
	#id82866-4182 {
		margin: 25px 25px 15px
	}
}

@media (min-width:567px) and (max-width:767px) {
	#id82866-13 {
		margin: 0 0 0 55px
	}
	#id82866-1408 {
		margin: 40px 0 0;
		display: none!important
	}
	#id82866-2425 {
		margin: 15px 5px 0;
		display: none!important
	}
	#id82866-2425 .widget-text {
		font-size: 14px;
		text-align: center;
		line-height: 14px;
		font-weight: 300;
		font-style: inherit
	}
	#id82866-27 {
		margin: 30px 0 10px;
		padding: 10px;
		font-size: 13px;
		text-align: inherit;
		line-height: inherit;
		font-weight: 700;
		font-style: inherit
	}
	#id82866-27,
	#id82866-2471 {
		display: none!important
	}
	#id82866-2450 {
		margin: 5px 50px 0
	}
	#id82866-721 {
		margin: 10px 5px
	}
	#id82866-721 .widget-text {
		font-size: 12px;
		text-align: center;
		line-height: 17px;
		font-weight: 700;
		font-style: inherit
	}
	#id82866-598 {
		margin: 5px 0 0
	}
	#id82866-4479 {
		margin: 15px 5px
	}
	#id82866-4479 .widget-text {
		font-size: 14px;
		text-align: center;
		line-height: 14px;
		font-weight: 300;
		font-style: inherit
	}
	#id82866-2359 {
		margin: 5px 35px 0
	}
	#id82866-3742 .popup .popuptext {
		bottom: 0;
		left: 40%;
		top: unset
	}
	#id82866-2481 {
		margin: 15px
	}
	#id82866-2481 .widget-text {
		font-size: 28px;
		font-family: Open Sans, sans-serif;
		text-align: center;
		line-height: 34px;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-3781 {
		margin: 5px 15px
	}
	#id82866-3781 .widget-text {
		font-size: 18px;
		font-family: Open Sans, sans-serif;
		text-align: center;
		line-height: 34px;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-2388 {
		margin: 0 0 15px 15px;
		font-size: 17px;
		font-family: Open Sans Condensed, sans-serif;
		line-height: 30px;
		font-weight: inherit
	}
	#id82866-2388,
	#id82866-2412 {
		text-align: inherit;
		font-style: inherit
	}
	#id82866-2412 {
		margin: 0 10px;
		padding: 15px 10px;
		font-size: 18px;
		font-family: Open Sans, sans-serif;
		line-height: inherit;
		font-weight: 700
	}
	#id82866-2476 {
		margin: 10px 15px 25px 18px
	}
	#id82866-2476 .widget-text {
		font-size: 12px;
		text-align: center;
		line-height: inherit;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-2337 {
		margin: 20px 5px 15px
	}
	#id82866-2337 .widget-text {
		font-size: 24px;
		font-family: Montserrat, sans-serif;
		text-align: center;
		line-height: 30px;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-2224 {
		margin: 0 0 15px 15px;
		font-size: 16px;
		font-family: Open Sans Condensed, sans-serif;
		line-height: 26px;
		font-weight: inherit
	}
	#id82866-2224,
	#id82866-2781 {
		text-align: inherit;
		font-style: inherit
	}
	#id82866-2781 {
		margin: 0 5px;
		padding: 15px 10px;
		font-size: 18px;
		font-family: Open Sans, sans-serif;
		line-height: inherit;
		font-weight: 700
	}
	#id82866-3265 {
		margin: 5px 0;
		padding: 0;
		display: none!important
	}
	#id82866-3266 {
		margin: 15px
	}
	#id82866-3266 .widget-text {
		font-size: 28px;
		font-family: Open Sans, sans-serif;
		text-align: center;
		line-height: 34px;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-2984,
	#id82866-3008,
	#id82866-3012,
	#id82866-3016,
	#id82866-3020,
	#id82866-3024 {
		margin: 0 100px
	}
	#id82866-4712 {
		margin: 2px 5px 20px;
		padding: 15px 10px;
		font-size: 18px;
		text-align: inherit;
		line-height: inherit;
		font-weight: 700;
		font-style: inherit
	}
	#id82866-3715 {
		margin: 15px
	}
	#id82866-3715 .widget-text {
		font-size: 28px;
		font-family: Open Sans, sans-serif;
		text-align: center;
		line-height: 34px;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-3716 {
		margin: 15px
	}
	#id82866-3716 .widget-text {
		font-size: 28px;
		font-family: Open Sans, sans-serif;
		text-align: center;
		line-height: 34px;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-4008,
	#id82866-4182 {
		margin: 25px 25px 15px
	}
}

@media (min-width:768px) and (max-width:991px) {
	#id82866-13 {
		margin: 0
	}
	#id82866-1408 {
		margin: 15px 0 10px 10px
	}
	#id82866-2425 {
		margin: 20px 10px 15px
	}
	#id82866-2425 .widget-text {
		font-size: 24px;
		text-align: center;
		line-height: inherit;
		font-weight: 300;
		font-style: inherit
	}
	#id82866-27 {
		margin: 15px 10px;
		padding: 25px;
		font-size: 16px;
		font-family: Open Sans, sans-serif;
		text-align: inherit;
		line-height: inherit;
		font-weight: 700;
		font-style: inherit
	}
	#id82866-2450 {
		margin: 0 15px 10px;
		display: none!important
	}
	#id82866-721 {
		margin: 20px 10px 15px;
		display: none!important
	}
	#id82866-721 .widget-text {
		font-size: 24px;
		text-align: center;
		line-height: inherit;
		font-weight: 300;
		font-style: inherit
	}
	#id82866-598 {
		margin: 0
	}
	#id82866-4479 {
		margin: 20px 10px 15px
	}
	#id82866-4479 .widget-text {
		font-size: 24px;
		text-align: center;
		line-height: inherit;
		font-weight: 300;
		font-style: inherit
	}
	#id82866-2359 {
		margin: 5px 25px 0
	}
	#id82866-2481 {
		margin: 45px 15px 15px
	}
	#id82866-2481 .widget-text {
		font-size: 27px;
		font-family: Open Sans, sans-serif;
		text-align: inherit;
		line-height: 34px;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-3781 {
		margin: 25px 15px 5px
	}
	#id82866-3781 .widget-text {
		font-size: 18px;
		font-family: Arial, sans-serif;
		line-height: 20px
	}
	#id82866-2388,
	#id82866-3781 .widget-text {
		text-align: inherit;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-2388 {
		margin: 0 0 15px;
		font-size: 14px;
		line-height: 24px
	}
	#id82866-2412 {
		margin: 0 10px 20px;
		padding: 25px 50px;
		font-size: 18px;
		font-family: Open Sans, sans-serif;
		text-align: inherit;
		line-height: inherit;
		font-weight: 700;
		font-style: inherit
	}
	#id82866-2476 {
		margin: 10px 15px 25px 18px
	}
	#id82866-2476 .widget-text {
		font-size: 14px;
		font-family: Open Sans Condensed, sans-serif;
		text-align: inherit;
		line-height: inherit;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-2337 {
		margin: 65px 5px 15px
	}
	#id82866-2337 .widget-text {
		font-size: 20px;
		font-family: Open Sans, sans-serif;
		line-height: 30px
	}
	#id82866-2224,
	#id82866-2337 .widget-text {
		text-align: inherit;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-2224 {
		margin: 0 0 15px;
		font-size: 14px;
		line-height: 24px
	}
	#id82866-2781 {
		margin: 0 10px 20px;
		padding: 25px 50px;
		font-size: 18px;
		font-family: Open Sans, sans-serif;
		text-align: inherit;
		line-height: inherit;
		font-weight: 700;
		font-style: inherit
	}
	#id82866-3265 {
		margin: 25px 15px;
		padding: 0 15px
	}
	#id82866-3266 {
		margin: 55px 15px 25px
	}
	#id82866-3266 .widget-text {
		font-size: 24px;
		font-family: Open Sans, sans-serif;
		text-align: center;
		line-height: 30px;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-2984,
	#id82866-3008,
	#id82866-3012,
	#id82866-3016,
	#id82866-3020,
	#id82866-3024 {
		margin: 0 10px
	}
	#id82866-4712 {
		margin: 0 10px 20px;
		padding: 25px 50px;
		font-size: 18px;
		font-family: Open Sans, sans-serif;
		text-align: center;
		line-height: inherit;
		font-weight: 700;
		font-style: inherit
	}
	#id82866-3715 {
		margin: 25px 15px 5px
	}
	#id82866-3715 .widget-text {
		font-size: 24px;
		font-family: Open Sans, sans-serif;
		text-align: center;
		line-height: 30px;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-3716 {
		margin: 0 15px 25px
	}
	#id82866-3716 .widget-text {
		font-size: 18px;
		font-family: Open Sans Condensed, sans-serif;
		text-align: center;
		line-height: 30px;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-4008,
	#id82866-4182 {
		margin: 25px
	}
}

@media (min-width:992px) and (max-width:1339px) {
	#id82866-13 {
		margin: 0
	}
	#id82866-1408 {
		margin: 10px 35px 10px 5px
	}
	#id82866-2425 {
		margin: 35px 5px 5px
	}
	#id82866-2425 .widget-text {
		font-size: 14px;
		font-family: Open Sans Condensed, sans-serif;
		text-align: center;
		line-height: inherit;
		font-weight: 400;
		font-style: inherit
	}
	#id82866-27 {
		margin: 20px 10px 10px;
		padding: 10px 20px;
		font-size: 16px;
		font-family: Open Sans, sans-serif;
		text-align: inherit;
		line-height: inherit;
		font-weight: 700;
		font-style: inherit
	}
	#id82866-2450 {
		margin: 0 15px 10px;
		display: none!important
	}
	#id82866-721 {
		margin: 35px 10px 5px;
		display: none!important
	}
	#id82866-721 .widget-text {
		font-size: 18px;
		font-family: Open Sans Condensed, sans-serif;
		text-align: center;
		line-height: inherit;
		font-weight: 400;
		font-style: inherit
	}
	#id82866-598 {
		margin: 0
	}
	#id82866-4479 {
		margin: 15px 10px
	}
	#id82866-4479 .widget-text {
		font-size: 25px;
		font-family: Open Sans, sans-serif;
		text-align: center;
		line-height: inherit;
		font-weight: 800;
		font-style: inherit
	}
	#id82866-2359 {
		margin: 5px 25px 0
	}
	#id82866-2481 {
		margin: 45px 15px 15px
	}
	#id82866-2481 .widget-text {
		font-size: 27px;
		font-family: Open Sans, sans-serif;
		text-align: inherit;
		line-height: 34px;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-3781 {
		margin: 25px 15px 5px
	}
	#id82866-3781 .widget-text {
		font-family: Arial, sans-serif;
		line-height: 20px
	}
	#id82866-2388,
	#id82866-3781 .widget-text {
		font-size: 18px;
		text-align: inherit;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-2388 {
		margin: 5px 0 15px 15px;
		font-family: Open Sans Condensed, sans-serif;
		line-height: 30px
	}
	#id82866-2412 {
		margin: 5px 10px 10px -230px;
		padding: 10px 20px;
		font-size: 18px;
		font-family: Open Sans, sans-serif;
		text-align: inherit;
		line-height: inherit;
		font-weight: 700;
		font-style: inherit
	}
	#id82866-2476 {
		margin: 10px 15px 25px 18px
	}
	#id82866-2476 .widget-text {
		font-size: 14px;
		font-family: Open Sans Condensed, sans-serif;
		text-align: inherit;
		line-height: inherit;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-2337 {
		margin: 65px 5px 15px
	}
	#id82866-2337 .widget-text {
		font-size: 20px;
		font-family: Open Sans, sans-serif;
		line-height: 30px
	}
	#id82866-2224,
	#id82866-2337 .widget-text {
		text-align: inherit;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-2224 {
		margin: 10px 0 5px 10px;
		font-size: 16px;
		font-family: Open Sans Condensed, sans-serif;
		line-height: 26px
	}
	#id82866-2781 {
		margin: 15px 10px 0 -200px;
		padding: 10px 30px;
		font-size: 18px;
		font-family: Open Sans, sans-serif;
		text-align: inherit;
		line-height: inherit;
		font-weight: 700;
		font-style: inherit
	}
	#id82866-3265 {
		margin: 25px 15px;
		padding: 0 15px
	}
	#id82866-3266 {
		margin: 55px 15px 25px
	}
	#id82866-3266 .widget-text {
		font-size: 24px;
		font-family: Open Sans, sans-serif;
		text-align: center;
		line-height: 30px;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-2984,
	#id82866-3008,
	#id82866-3012,
	#id82866-3016,
	#id82866-3020,
	#id82866-3024 {
		margin: 0 10px
	}
	#id82866-4712 {
		margin: 5px 10px 45px;
		padding: 10px 20px 27px;
		font-size: 18px;
		font-family: Open Sans, sans-serif;
		text-align: center;
		line-height: inherit;
		font-weight: 700;
		font-style: inherit
	}
	#id82866-3715 {
		margin: 25px 15px 5px
	}
	#id82866-3715 .widget-text {
		font-size: 24px;
		font-family: Open Sans, sans-serif;
		text-align: center;
		line-height: 30px;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-3716 {
		margin: 0 15px 25px
	}
	#id82866-3716 .widget-text {
		font-size: 18px;
		font-family: Open Sans Condensed, sans-serif;
		text-align: center;
		line-height: 30px;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-4008,
	#id82866-4182 {
		margin: 25px
	}
}

@media (min-width:1340px) and (max-width:1919px) {
	#id82866-13 {
		margin: 0
	}
	#id82866-1408 {
		margin: 10px 35px 10px 5px
	}
	#id82866-2425 {
		margin: 35px 5px 5px
	}
	#id82866-2425 .widget-text {
		font-size: 14px;
		font-family: Open Sans Condensed, sans-serif;
		text-align: center;
		line-height: inherit;
		font-weight: 400;
		font-style: inherit
	}
	#id82866-27 {
		margin: 20px 10px 10px;
		padding: 10px 20px;
		font-size: 16px;
		font-family: Open Sans, sans-serif;
		text-align: inherit;
		line-height: inherit;
		font-weight: 700;
		font-style: inherit
	}
	#id82866-2450 {
		margin: 0 15px 10px;
		display: none!important
	}
	#id82866-721 {
		margin: 35px 10px 5px;
		display: none!important
	}
	#id82866-721 .widget-text {
		font-size: 18px;
		font-family: Open Sans Condensed, sans-serif;
		text-align: center;
		line-height: inherit;
		font-weight: 400;
		font-style: inherit
	}
	#id82866-598 {
		margin: 0
	}
	#id82866-4479 {
		margin: 15px 10px
	}
	#id82866-4479 .widget-text {
		font-size: 25px;
		font-family: Open Sans, sans-serif;
		text-align: center;
		line-height: inherit;
		font-weight: 800;
		font-style: inherit
	}
	#id82866-2359 {
		margin: 5px 25px 0
	}
	#id82866-2481 {
		margin: 45px 15px 15px
	}
	#id82866-2481 .widget-text {
		font-size: 27px;
		font-family: Open Sans, sans-serif;
		text-align: inherit;
		line-height: 34px;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-3781 {
		margin: 25px 15px 5px
	}
	#id82866-3781 .widget-text {
		font-family: Arial, sans-serif;
		line-height: 20px
	}
	#id82866-2388,
	#id82866-3781 .widget-text {
		font-size: 18px;
		text-align: inherit;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-2388 {
		margin: 5px 0 15px 15px;
		font-family: Open Sans Condensed, sans-serif;
		line-height: 30px
	}
	#id82866-2412 {
		margin: 5px 10px 10px -230px;
		padding: 10px 20px;
		font-size: 18px;
		font-family: Open Sans, sans-serif;
		text-align: inherit;
		line-height: inherit;
		font-weight: 700;
		font-style: inherit
	}
	#id82866-2476 {
		margin: 10px 15px 25px 18px
	}
	#id82866-2476 .widget-text {
		font-size: 14px;
		font-family: Open Sans Condensed, sans-serif;
		text-align: inherit;
		line-height: inherit;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-2337 {
		margin: 65px 5px 15px
	}
	#id82866-2337 .widget-text {
		font-size: 20px;
		font-family: Open Sans, sans-serif;
		line-height: 30px
	}
	#id82866-2224,
	#id82866-2337 .widget-text {
		text-align: inherit;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-2224 {
		margin: 10px 0 5px 10px;
		font-size: 16px;
		font-family: Open Sans Condensed, sans-serif;
		line-height: 26px
	}
	#id82866-2781 {
		margin: 15px 10px 0 -200px;
		padding: 10px 30px;
		font-size: 18px;
		font-family: Open Sans, sans-serif;
		text-align: inherit;
		line-height: inherit;
		font-weight: 700;
		font-style: inherit
	}
	#id82866-3265 {
		margin: 25px 15px;
		padding: 0 15px
	}
	#id82866-3266 {
		margin: 55px 15px 25px
	}
	#id82866-3266 .widget-text {
		font-size: 24px;
		font-family: Open Sans, sans-serif;
		text-align: center;
		line-height: 30px;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-2984,
	#id82866-3008,
	#id82866-3012,
	#id82866-3016,
	#id82866-3020,
	#id82866-3024 {
		margin: 0 10px
	}
	#id82866-4712 {
		margin: 5px 10px 45px;
		padding: 10px 20px 27px;
		font-size: 18px;
		font-family: Open Sans, sans-serif;
		text-align: center;
		line-height: inherit;
		font-weight: 700;
		font-style: inherit
	}
	#id82866-3715 {
		margin: 25px 15px 5px
	}
	#id82866-3715 .widget-text {
		font-size: 24px;
		font-family: Open Sans, sans-serif;
		text-align: center;
		line-height: 30px;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-3716 {
		margin: 0 15px 25px
	}
	#id82866-3716 .widget-text {
		font-size: 18px;
		font-family: Open Sans Condensed, sans-serif;
		text-align: center;
		line-height: 30px;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-4008,
	#id82866-4182 {
		margin: 25px
	}
}

@media (min-width:1920px) {
	#id82866-13 {
		margin: 0
	}
	#id82866-1408 {
		margin: 10px 35px 10px 5px
	}
	#id82866-2425 {
		margin: 35px 5px 5px
	}
	#id82866-2425 .widget-text {
		font-size: 14px;
		font-family: Open Sans Condensed, sans-serif;
		text-align: center;
		line-height: inherit;
		font-weight: 400;
		font-style: inherit
	}
	#id82866-27 {
		margin: 20px 10px 10px;
		padding: 10px 20px;
		font-size: 16px;
		font-family: Open Sans, sans-serif;
		text-align: inherit;
		line-height: inherit;
		font-weight: 700;
		font-style: inherit
	}
	#id82866-2450 {
		margin: 0 15px 10px;
		display: none!important
	}
	#id82866-721 {
		margin: 35px 10px 5px;
		display: none!important
	}
	#id82866-721 .widget-text {
		font-size: 18px;
		font-family: Open Sans Condensed, sans-serif;
		text-align: center;
		line-height: inherit;
		font-weight: 400;
		font-style: inherit
	}
	#id82866-598 {
		margin: 0
	}
	#id82866-4479 {
		margin: 15px 10px
	}
	#id82866-4479 .widget-text {
		font-size: 25px;
		font-family: Open Sans, sans-serif;
		text-align: center;
		line-height: inherit;
		font-weight: 800;
		font-style: inherit
	}
	#id82866-2359 {
		margin: 5px 25px 0
	}
	#id82866-2481 {
		margin: 45px 15px 15px
	}
	#id82866-2481 .widget-text {
		font-size: 27px;
		font-family: Open Sans, sans-serif;
		text-align: inherit;
		line-height: 34px;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-3781 {
		margin: 25px 15px 5px
	}
	#id82866-3781 .widget-text {
		font-family: Arial, sans-serif;
		line-height: 20px
	}
	#id82866-2388,
	#id82866-3781 .widget-text {
		font-size: 18px;
		text-align: inherit;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-2388 {
		margin: 5px 0 15px 15px;
		font-family: Open Sans Condensed, sans-serif;
		line-height: 30px
	}
	#id82866-2412 {
		margin: 5px 10px 10px -230px;
		padding: 10px 20px;
		font-size: 18px;
		font-family: Open Sans, sans-serif;
		text-align: inherit;
		line-height: inherit;
		font-weight: 700;
		font-style: inherit
	}
	#id82866-2476 {
		margin: 10px 15px 25px 18px
	}
	#id82866-2476 .widget-text {
		font-size: 14px;
		font-family: Open Sans Condensed, sans-serif;
		text-align: inherit;
		line-height: inherit;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-2337 {
		margin: 65px 5px 15px
	}
	#id82866-2337 .widget-text {
		font-size: 20px;
		font-family: Open Sans, sans-serif;
		line-height: 30px
	}
	#id82866-2224,
	#id82866-2337 .widget-text {
		text-align: inherit;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-2224 {
		margin: 10px 0 5px 10px;
		font-size: 16px;
		font-family: Open Sans Condensed, sans-serif;
		line-height: 26px
	}
	#id82866-2781 {
		margin: 15px 10px 0 -200px;
		padding: 10px 30px;
		font-size: 18px;
		font-family: Open Sans, sans-serif;
		text-align: inherit;
		line-height: inherit;
		font-weight: 700;
		font-style: inherit
	}
	#id82866-3265 {
		margin: 25px 15px;
		padding: 0 15px
	}
	#id82866-3266 {
		margin: 55px 15px 25px
	}
	#id82866-3266 .widget-text {
		font-size: 24px;
		font-family: Open Sans, sans-serif;
		text-align: center;
		line-height: 30px;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-2984,
	#id82866-3008,
	#id82866-3012,
	#id82866-3016,
	#id82866-3020,
	#id82866-3024 {
		margin: 0 10px
	}
	#id82866-4712 {
		margin: 5px 10px 45px;
		padding: 10px 20px 27px;
		font-size: 18px;
		font-family: Open Sans, sans-serif;
		text-align: center;
		line-height: inherit;
		font-weight: 700;
		font-style: inherit
	}
	#id82866-3715 {
		margin: 25px 15px 5px
	}
	#id82866-3715 .widget-text {
		font-size: 24px;
		font-family: Open Sans, sans-serif;
		text-align: center;
		line-height: 30px;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-3716 {
		margin: 0 15px 25px
	}
	#id82866-3716 .widget-text {
		font-size: 18px;
		font-family: Open Sans Condensed, sans-serif;
		text-align: center;
		line-height: 30px;
		font-weight: inherit;
		font-style: inherit
	}
	#id82866-4008,
	#id82866-4182 {
		margin: 25px
	}
}

.footer {
    font-size: 12px;
    padding: 20px 0;
    border-top: solid 1px #ffffff;
    background-color: #f5f5f5;
    background-position: center center;
    color: #050505;
    pointer-events: all;
}
.section-new {
    max-width: 1200px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.container .column, .container .columns {
    margin-left: calc(20px / 2);
    margin-right: calc(20px / 2);
}
.one-fourth {
    width: calc(25% - 20px);
}
.footer-menu-wrap {
    text-align: left;
    padding-top: 20px;
}
.footer .footer-menu-wrap h6 {
    margin: 0;
    padding: 0 0 5px 0;
    color: #000000;
    font-size: 17px;
    pointer-events: none;
}
.footer .toggle_content {
    display: block !important;
}
.footer ul {
    list-style: none;
    margin: 0;
    padding: 15px 0 0 0;
}
.footer ul li {
    margin-bottom: 1em;
    line-height: 1.1;
}
.footer a, .footer a:visited {
    color: #050505;
    font-size: 12px;
    text-decoration: none;
}
.container {
    position: relative;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.payment_methods {
    float: right;
    text-align: right;
}
.credits {
    text-align: left;
    padding-top: 20px;
    float: left;
    line-height: 1.6em;
}
.footer .toggle_content {
    display: block !important;
}
@font-face {
  font-family: 'turbo';
  src: url("../fonts/turbo.eot");
  src: url("../fonts/turbo.eot") format("embedded-opentype"), 
  url("../fonts/turbo.woff") format("woff"), 
  url("../fonts/turbo.ttf") format("truetype"), 
  url("../fonts/turbo.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "turbo";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: 0.15em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-twitter:before {
    content: "\ea96";
}
.icon-facebook:before {
    content: "\ea90";
}
.icon-email:before {
    content: "\e906";
}
.icon-down-arrow:before {
    content: "\e905";
}
footer .footer-social-icons--mobile.columns {
    display: none;
    padding-left: 0;
}

footer .social_icons {
    display: block;
    margin-top: 15px;
}
.social_icons li {
    display: inline;
    padding-right: 2px;
}
footer .social_icons a, footer .social_icons a:visited {
    color: #050505;
    font-size: 22px;
    display: inline-block;
    margin-bottom: 1em;
}

.right {
    float: right;
    position: relative;
}
span.icon-down-arrow {
    padding: 0 !important;
    font-size: 12px !important;
}
.footer .footer-menu-wrap h6 > span {
    display: inline-block;
    transition: transform 0.3s linear;
    perspective: 1000;
}


@media screen and (max-width: 800px){
	.container .column, .container .columns {
    margin-left: calc(20px / 2);
    margin-right: calc(20px / 2);
}
.medium-down--one-whole {
    width: calc(100% - 20px);
}


}